@use 'media-queries' as *;
@import 'reset';
@import 'fonts';
@import 'variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background: $primary-yellow;
    background: url('../assets/img/main-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Lato, -apple-system, 'Segoe UI', Helvetica Neue, Helvetica,
        Roboto, Arial, sans-serif, system-ui, 'Apple Color Emoji',
        'Segoe UI Emoji';
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paper {
    width: 700px;
    height: 330px;
    margin: 0 10px;
    background: #fafafa;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;

    @include gt-xs {
        margin: 0 20px;
    }

    @include gt-sm {
        padding: 3.5em;
        height: 350px;
    }

    @include gt-md {
        padding: 4.5em;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: $tr-bg-color, $tr-b-color;

    &:focus {
        border: 1px solid $primary-blue;
        background-color: transparent;
    }

    &:hover {
        border-color: $primary-yellow;
        background-color: $primary-yellow;
    }

    &:disabled {
        pointer-events: none;
        border: 1px solid transparent;
    }

    & .button-svg {
        path {
            transition: all 0.3s ease-in-out;
        }
    }

    &:hover .button-svg path {
        fill: $charcoal-gray;
        stroke: $charcoal-gray;
    }

    &.active {
        border-color: $primary-yellow;
        background-color: $primary-yellow;

        .button-svg path {
            fill: $charcoal-gray;
            stroke: $charcoal-gray;
        }
    }
}

.menu-hidden {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
        z-index 0.3s;
}

.menu-visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
        z-index 0.3s;
}

.scroll-to-top-btn {
    position: fixed;
    right: 5px;
    bottom: 15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $primary-blue;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: filter 0.3s ease-in-out;

    @include gt-xs {
        right: 30px;
        bottom: 35px;
        height: 45px;
        width: 45px;
    }

    & svg {
        transform: translateY(-1px);
    }

    &:hover {
        background-color: $primary-blue;
        border-color: $primary-blue;
        filter: grayscale(0.4);
    }

    &:focus {
        background-color: $primary-blue;
        filter: grayscale(0.4);
    }

    &.hide {
        opacity: 0;
        pointer-events: none;
    }
}

.tooltip {
    &.default {
        background-color: #fff;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
            rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        border-radius: 6px;
        color: $charcoal-gray;
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        opacity: 1;
        z-index: 9999999;

        & p:first-child {
            margin-top: 0;
        }

        p {
            margin-top: 4px;
        }
    }

    &.success {
        color: #fff;
        background-color: $primary-blue;
        user-select: none;
        border-radius: 6px;
        font-size: 13px;
        font-weight: 300;
    }

    .title {
        font-weight: 700;
    }
}

.slideshow__control-panel {
    position: absolute;
    bottom: 0;
    display: flex;
    right: 0;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: visibility 0.6s ease-in-out, opacity 0.6s ease-in-out;
    padding: 5px;
    background-color: rgb(255 255 255 / 15%);

    &.show {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }
}

.copy-result {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.pswp__button--download-button {
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
        outline: none;
        border: none;
    }
}

.pswp__bullets-indicator {
    position: absolute;
    bottom: 45px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.pswp__thumbnails-container {
    display: inline-block;
}

.pswp__content {
    text-align: center;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

.pswp__zoom-wrap {
    img {
        object-fit: contain;
    }
}
