@import 'src/styles/variables';

.folder {
    width: 100%;
    padding: 15px 16px;
    background-color: rgba(230, 230, 230, 0.3);
    border-radius: 6px;
    font-size: 14px;
    color: #a7a7a7;
    font-weight: 400;
    height: 44px;

    svg {
        flex: 0 0 auto;
    }

    span {
        display: block;
        margin-left: 7px;
        flex: 1 1 auto;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        transition: color 0.3s ease-in-out;
        user-select: none;
    }

    &:hover {
        span {
            color: $charcoal-gray;
        }
    }
}
